{% extends 'project/session.html' %}

{% block playinfo %}

    <p>Play</p>
<div id="tabs">
    <ul>
    <li><a href="#tabs-1">Main View</a></li>
    <li><a href="#tabs-2">Alternative View #1</a></li>
    <li><a href="#tabs-3">Alternative View #2</a></li>
    </ul>
    <div id="tabs-1">
        <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="{{ play_detail.vid_url }}" frameborder="0" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe><script async src="//v.embedcdn.com/v1/embed.js"></script></div>
    </div>
    <div id="tabs-2">
     <div style='position:relative;padding-bottom:57%'><iframe src='https://gfycat.com/ifr/AmazingElectricCowrie' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
    </div>
    <div id="tabs-3">
     <div style='position:relative;padding-bottom:57%'><iframe src='https://gfycat.com/ifr/AmazingElectricCowrie' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
    </div>
</div>

{% endblock %}