{% extends 'project/base.html' %}
{% include 'project/play.html' %}
{% block content %}
<div class="col-sm-12">
    <h2>Stanford Cardinal vs {{game.opponent }}</h2>
    <h4> {{ game.date_time.date }}, Win (38-7)</h4>
    {% if play_list %}
    <div class="row">
        <div class="col-md-3">
            <div class="row ui-widget ui-widget-content ui-corner-all">
                <div class="col-sm-6 qb">
                    <img class="qb" src="{{ play_detail.passer.imageUrl }}">
                    <p>{{ play_detail.passer }} #{{ play_detail.passer.jersey_no }}</p>
                </div>
                <div class="col-sm-6">
                    <p>{{ comp_count }}/{{ total_plays }} ({{ pct }}%)</p>
                    <p class="average">{{ avg_comp_statement }}</p>
                    <p>{{ yards }} Yards</p>
                    <p class="average">{{ avg_yards_statement }}</p>
                    <p>{{ td }} TD, {{ interceptions }} INT</p>
                    <p>QBR: {{ ncaa_rating }}</p>
                    <script>
                        $('.average:contains("Below")').css('color', 'red').prepend("<span class='glyphicon glyphicon-arrow-down'></span> ");
                        $('.average:contains("Above")').css('color', 'green').prepend("<span class='glyphicon glyphicon-arrow-up'></span> ");
                    </script>
                </div>
                <a href="#" id="analysis-link" onclick="showAnalysis()">Full Game Analysis ></a>
            <a href="#" id="video-link" class="hidden" onclick="showVideo()">Back to Video Analysis</a>
            </div>
        <div class="widget">

<br>

</div>
        <div class="row ui-widget ui-widget-content ui-corner-all">
          <fieldset>
    <label for="radio-1">All Plays</label>
    <input type="radio" name="radio-1" id="radio-1">
    <label for="radio-2">Completions</label>
    <input type="radio" name="radio-1" id="radio-2">
    <label for="radio-3">Incompletions</label>
    <input type="radio" name="radio-1" id="radio-3">
  </fieldset>
            <div class="col-md-12" id="quarters">
<ol>
                    <div id ="quarter1">
                        <span class="strong">Quarter 1</span>
                    </div>
                    <div id ="quarter2">
<span class="strong">Quarter 2</span>
                    </div>
                    <div id ="quarter3">
<span class="strong">Quarter 3</span>
                    </div>
                    <div id ="quarter4">
<span class="strong">Quarter 4</span>
                    </div>
</ol>

                {% for play in play_list.all %}
                {% if play.quarter == 1 %}
                <script>
                    $("#quarter1").append('<li><a href="{% url 'session' game_id=game.id play_id=play.id %}">{{ play }}</a></li');
                </script>
                {% endif %}
                {% if play.quarter == 2 %}
                <script>
                    $("#quarter2").append('<li><a href="{% url 'session' game_id=game.id play_id=play.id %}">{{ play }}</a></li');
                </script>
                {% endif %}
                {% if play.quarter == 3 %}
                <script>
                    $("#quarter3").append('<li><a href="{% url 'session' game_id=game.id play_id=play.id %}">{{ play }}</a></li');
                </script>
                {% endif %}
                {% if play.quarter == 4 %}
                <script>
                    $("#quarter4").append('<li><a href="{% url 'session' game_id=game.id play_id=play.id %}">{{ play }}</a></li');
                </script>
                {% endif %}
                {% endfor %}
            </div>
        </div>
            <div class="col-m2-12 hidden" id="breakdown-vids">
                <ul class="sidebar">
                    <li>View Completed Passes</li>
                    <li>View Incomplete Passes</li>
                    <li>View Interceptions</li>
                    <li>View Sacks</li>
                    <li>View Touchdown Passes</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9" id="video-plays">
            <div class="col-md-8">
                <!--iframe width="100%" height="315" src="https://www.youtube.com/embed/hHQ9Fiiqu8k" frameborder="0" allowfullscreen></iframe-->
                <!-- Video Clips -->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Main View</a></li>
                        <li><a href="#tabs-2">Alternative View #1</a></li>
                        <li><a href="#tabs-3">Alternative View #2</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div style='position:relative;padding-bottom:57%'><iframe src='{{ play_detail.vid_url }}?autoplay=1' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                    </div>
                    <div id="tabs-2">
                        <div style='position:relative;padding-bottom:57%'><iframe src='{{ play_detail.vid_url_alt }}' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                    </div>
                    <div id="tabs-3">
                        <div style='position:relative;padding-bottom:57%'><iframe src='{{ play_detail.vid_url_alt2 }}' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                    </div>
                    <p><a href="#"><span class="glyphicon glyphicon-plus"></span>Add a Note</a></p>
                    <p>{{ play_detail.note }}</p>
                </div>
                <p></p>
                <!-- Charts -->
            </div>

            <div class="col-sm-4 ui-widget ui-widget-content ui-corner-all">
                <h4>{{ play_tagline }}</h4>
                <p>Receiver: {{ play_detail.receiver }}</p>
                <div id="airyards" style="max-width: 310px; height: 400px; margin: 0 auto"></div>
                <script>
                    Highcharts.chart('airyards', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Air Yards vs YAC'
                        },
                        xAxis: {
                            categories: ['Apples']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Total Yards'
                            }
                        },
                        tooltip: {
                            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                            shared: true
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal'
                            }
                        },
                        series: [{
                            name: 'YAC',
                            data: [{{ play_detail.gain }} - {{ play_detail.air_yards }}]
                        },
                        {
                            name: 'Air Yards',
                            data: [{{ play_detail.air_yards }}]
                        }]
                    });
                </script>

            </div>
        </div>
    <div>

    </div>
        <div class="col-sm-9 hidden" id="charts">
            <div id="container">
            </div>
            <span>
                <form action="#">
                    <fieldset>
                        <label for="chart-type">Change Statistic</label>
                        <select name="chart-type" id="chart-type" onchange="chartSwitch()">
                            <option value="1" selected="selected">Total Yards (Trend)</option>
                            <option value="2">Total Yards (Cumulative)</option>
                            <option value="3">Total Completions</option>
                            <option value="4">Completion Percentage</option>
                            <option value="5">Yards per Drop-back</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for="game-only">This Game Only</label>
                        <input type="checkbox" name="radio-1" id="game-only" checked="checked" onclick="chartSwitch()">
                        <label for="prev-games">All Previous Games</label>
                        <input type="checkbox" name="radio-1" id="prev-games" onclick="chartSwitch()">
                        <label for="season-avg">Season Average</label>
                        <input type="checkbox" name="radio-1" id="season-avg" onclick="chartSwitch()">
                    </fieldset>
                </form>
            </span>
            <script>
                var chart = Highcharts.chart('container', {

                title: {
                    text: '{{ play_detail.passer }} Performance by Quarter vs {{ play_detail.game.opponent }}'
                },

                subtitle: {
                    text: '{{ play_detail.game.date_time }}'
                },

                yAxis: {
                    title: {
                        text: 'Number of Yards'
                    },
                    extremes: {
                        min: 0,
                        max: 100
                    }
                },

                xAxis: {
                    allowDecimals: false,
                    title: {
                        text: " "
                    }
                },

                legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
                },

                plotOptions: {
                series: {
                pointStart: 1
                }
                },

                series: [{
                    name: 'vs {{ play_detail.game.opponent }}',
                    data: {{ q_yards }}
                }, {
                    name: 'Game 2',
                    data: [ ],
                    visible: false
                },
                {
                    name: 'Game 3',
                    data: [ ],
                    visible: false

                },
                {
                    name: 'Game 4',
                    data: [ ],
                    visible: false
                },
                {
                    name: 'Average',
                    data: [ ],
                    visible: false
                }]


                });

                function chartSwitch() {
                    var selectBox = document.getElementById("chart-type");
                    var val = selectBox.options[selectBox.selectedIndex].value;

                    if (val == 1) {
                        console.log("yards by quarter");
                        chart.series[0].setData({{ q_yards }}, false);
                        chart.yAxis[0].setExtremes(0, null);
                        chart.yAxis[0].setTitle({text: "Total Yards"});

                        var a = document.getElementById("season-avg");
                        var b = document.getElementById("prev-games");
                        if (a.checked) {
                            console.log('season avg');
                            var avg = chart.series.length-1;
                            console.log(avg);
                            chart.series[avg].show();
                            chart.series[avg].setData([42, 51, 103, 84], false);
                        }
                        else {
                            chart.series[chart.series.length-1].hide();
                        }
                        if (b.checked) {
                            console.log("checked");
                            for (var z=1; z < chart.series.length-1;z++) {
                                chart.series[z].show();
                                chart.series[z].setData([42, 51, 103, 84], false);
                            }
                        }
                        else {
                            for (var u=1;u < chart.series.length-1;u++) {
                                chart.series[u].hide();
                                chart.redraw();
                            }
                        }

                        // check here to see if there is a variant ticked
                        // to compare to another game etc...
                        //chart.series[1].setData([42, 51, 103, 84], false);
                    }
                    else if (val == 2) {
                        console.log("yards cumulative");
                        chart.series[0].setData({{ q_yards_cum }}, false);
                        chart.yAxis[0].setExtremes(0, null);
                        chart.yAxis[0].setTitle({text: "Total Yards (Cumulative)"});
                    }
                    else if (val == 3) {
                        console.log("total completions");
                        chart.series[0].setData({{ totalcomp }} );
                        chart.yAxis[0].setExtremes(0, null);
                        chart.yAxis[0].setTitle({text: "Total Completions"});
                    }
                    else if (val == 4) {
                        console.log("comp %");
                        chart.series[0].setData({{ q_pct }} );
                        chart.yAxis[0].setExtremes(0, 100);
                        chart.yAxis[0].setTitle({text: "Completion Percentage"});
                    }
                    else if (val == 5) {
                        console.log("yards per dropback");
                        chart.series[0].setData({{ q_ypa }});
                        chart.yAxis[0].setExtremes(0, null);
                        chart.yAxis[0].setTitle({text: "Yards per Dropback"});
                    }
                    chart.redraw();
                }

            </script>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}