h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
}
h2 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 0 0;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

li, a, span {
    font-family: 'Cantarell', sans-serif;
}

hr {
    line-height: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E9E9E9 !important;
}

ul.sidebar {
    list-style: none;
}

#header {
    padding-left: 65px;
}

div.main-link {
    display: block;
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    background: #38BB64;
    color: white;
}

a.main-link:link, a.main-link:visited, a.main-link:active,  a.main-link:hover {
    color: white;
    font-size: 20px;
}

.switch {
    text-align: center;
}

#footer {
    padding-bottom:40px;
    padding-left: 65px;
}

img.qb {
    max-width: 100%;
    min-width: 100%;
    display: block;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

div.qb {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

body {
    background-image: url("/project/static/project/img/bg-image.png");
    background-position: left;
}

.about {
    max-width: 100%;
}

.zero-pad {
    padding: 0 !important;
}

.hidden {
    display: none;
}

#container {
	min-width: 100%;
	max-width: 100%;
    width: 100% !important;
    height: 400px;
	margin: 0 auto;
}

#airyards {

}

#quarters {
    height: 200px;
    overflow-y: scroll;
    list-style: decimal;
    
}

.strong {
    font-weight: bold;
}

.ui-widget {

}

.navbar ul {
    list-style-type: none !important;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
}

.navbar li {
    text-decoration: none !important;
}

.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

.navbar li a.active {
    color: white;
    background-color: #4CAF50;
}